<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Test Suite" parallel="false">
    <test name="SampleSelenideSuite">
        <classes>
            <class name="SelenideLoginTest"/>
            <class name="FailLoginTest"/>
            <class name="AddCommentTest"/>
            <class name="CreateIssueTest"/>
        </classes>
    </test>

    <listeners>
        <listener class-name="utils.TestNGListener"/>
    </listeners>
</suite>